#loyalty {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    width: 100vw;
    height: 100vh;
    padding: 0.25rem;
    justify-content: center;
}

#howItWorks {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;

}

.pageHeader {
    grid-row: 1 /2;
}

.pageContent {
    display: flex;
    grid-row: 2 / 3;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    /* display: flex;
    flex-direction: column; */
}

#searchBar {
    min-width: 2vw;
    max-width: 25em;
    width: 300px;
    font-weight: 500;
    padding: 0.2em;
  
}

/* ::placeholder {

} */

.checkInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* border: 2px solid white;
    border-radius: 1rem; */
}

.checkInContainer button {
    margin: 1em
}

#loyaltyButtons {
   display: grid;
   grid-row: 3/4;
   justify-content: center;
} 